#!/usr/bin/env bash
set -euo pipefail

# This will be supported in the future
export NIX_USER_CONF_FILES=$PWD/etc/nix.conf

if nix flake info &>/dev/null; then
  # Flake!
  watch_file flake.lock
  watch_file flake.nix
  use flake
else
  use nix
fi
